Package: pm.n7.hsbypass
Name: HangSengBypass
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Bypasses jailbreak detection in the Hang Seng 
Maintainer: Bailey Fox
Author: Bailey Fox
Section: Tweaks
